<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-color: lightblue;
      font-family: Arial, sans-serif;
      
    }
    h1 {
      color: gray;
    }
    li {
      color: brown;
      font-size: 30px;
    }
  </style>
</head>
<body>
  <h1>Students List</h1>
  <% students.forEach(function(stu){ %>
    <li>
      <%= stu.name%>
      -
      <%= stu.present ? 'present' : 'not present'%>
    </li>
  <%})%>
</body>
</html>